<footer class="footer has-background-black-bis pb-6">

    <div class="content has-text-centered">
        <p>
            © 2022, Thread Publisher by
            <a href="https://twitter.com/jeffwie_">
                <span class="tag is-info">Jeffwie</span>
            </a>
        </p>
    </div>

</footer class="footer">
</body>
</html>