<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/mystyles.css">
  <title>Thread Publisher</title>
</head>
<body>

    <header class="has-navbar-fixed-top">
      <nav class="navbar is-dark py-4" role="navigation" aria-label="main navigation" is-fixed-top>
          <div class="navbar-brand ml-6">
              <a class="navbar-item" href="/">
                  <img src="img/logo.svg" width="112" height="28">
              </a>

              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                  data-target="navbarBasicExample">
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
              </a>
          </div>


          <div class="navbar-end">
            <% if(!locals.user){ %>
              <div class="navbar-item mr-6">
                <a href="/login" class="button is-info" id="loginBtn">
                  <strong>Se connecter</strong>
                </a>
              </div>
              <% }else{ %>
              <div class="dropdown is-hoverable navbar-item mr-6">
                  <div class="dropdown-trigger">
                      <button class="button is-info" aria-haspopup="true" aria-controls="dropdown-menu4">
                          <span><%= locals.user.currentUser.screen_name%></span>
                      </button>
                  </div>
                  <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                      <div class="dropdown-content">
                          <a class="dropdown-item" href="/logout">
                              Déconnexion
                          </a>
                      </div>
                  </div>
              </div>
              <% } %>
          </div>
      </nav>

  </header>
